<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MyConString" connectionString="Data Source=192.168.137.231;Initial Catalog=BSNL;Integrated Security=true"/>
    <!--<add name="MyConString"  connectionString="Data Source=localhost;Initial Catalog=BSNL;User ID=sa;Password=sa@12345" />-->
    <!--<add name="MyConString" connectionString="Data Source=LT-LE-025\SQLEXPRESS;Initial Catalog=BSNL;Integrated Security=true;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
</configuration>